body {
    font-family: Hammersmith One;
    margin: 0;
    padding: 0;
}

.Entire {
    height: 493vh;
    background: white;

}

.part1 {

    height: 100vh;


}

.part2 {

    height: 100vh;
    padding-top: 50px;


}

.part3 {

    height: 100vh;
}

.part4 {

    height: 100vh;
}

.part5 {

    height: 100vh;
}

.header {
    display: flex;
    align-items: center;
    margin: 0;
    padding: 15px 20px;
    /* Adding padding to header to create space around the content */

    gap: 480px;
    /* Adjust this value to control the space between h1 and ul */

}

.header h1 {

    font-weight: 500;
    font-size: 35px;
    margin-left: 100px;

}

.ani span {
    display: inline-block;
    transition: transform 0.3s ease;
}

.ani span:hover {
    transform: scale(1.3);
    cursor: pointer;
}


.list ul {

    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 35px;
    font-size: 20px;
    list-style: none;
    margin: 0;
    /* Reset margin */
    font-weight: 400;
    color: black;



}

.content {

    padding-top: 70px;
    padding-bottom: 92px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    background: white;
}

.content .img1 {
    height: 375px;
    width: 375px;
    transition: 1s;

}

.content .img1:hover {
    height: 450px;
    width: 450px;
}

.text .k {
    background: rgba(0, 94, 255, 0.735);
    outline: none;
    border: none;
    padding: 20px;
    color: white;
    transition: o.3s;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    font-family: Hammersmith One;
    cursor: pointer;

}

.text .c {
    margin-left: 5px;
    background: #005effbb;
    outline: none;
    border: none;
    transition: o.3s;
    font-size: 15px;
    font-weight: 500;
    border-radius: 30px;
    color: white;
    padding: 20px 35px 20px 35px;
    font-family: Hammersmith One;
    cursor: pointer;
}

.text button:hover {
    background: rgb(0, 255, 174);

}

.list a:hover {
    color: rgb(75, 73, 73);
    font-size: 22px;
}

.text h2 {
    text-align: center;
    color: rgb(95, 94, 94);
    font-size: 19px;
    margin-bottom: 2px;
    font-weight: 500;
}

.text h3 {
    text-align: center;
    color: rgb(95, 94, 94);
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;
}


.text h1 {
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    margin-bottom: 15px;
    font-weight: 600;
}

.part2 img {
    height: 270px;
    width: 270px;
    padding-left: 150px;


}

.part2 .abt1 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.part2 h1 {
    text-align: center;
    font-size: 40px;
}

.abt2 p {
    font-size: 20px;
    padding-top: 30px;
    font-weight: 100;
    line-height: 2;

    padding-left: 10px;
}



.part31 {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.part31 .part32 {
    margin-top: 40px;

    padding: 30px 30px;
    border-radius: 30px;
    background: lightskyblue;




}

.part31 .part33 {
    margin-top: 40px;

    padding: 30px 30px;
    background: lightskyblue;

    border-radius: 30px;

}

.part32 .rating {
    height: 80px;
    width: 80px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;


}


.part33 .rating {
    height: 80px;
    width: 80px;
    padding-left: 20px;
    display: inline-block;
    vertical-align: middle;


}

.content4 {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;


}

.part4 h1 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 25px;

}

.content4 img {
    height: 320px;
    width: 320px;

    border-radius: 20px;
}

.b1 {

    padding: 30px;
    border-radius: 30px;
    background: orange;
}

.b2 {

    padding: 30px;
    border-radius: 30px;
    background: lightgreen;
}

.b3 {

    padding: 30px;
    border-radius: 30px;
    background: lightseagreen;
}

.projects h1 {
    font-size: 25px;
}

.projects button {

    background: white;
    border: none;
    border-radius: 25px;
    outline: none;
    padding: 15px;
    width: 100px;
    margin-left: 40px;
    font-size: 15px;
    transition: 0.3s;
    cursor: pointer;


}

.projects a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    font-family: Hammersmith One;
}

.projects button:hover {
    background: rgb(185, 185, 185);
}

.skills h1 {
    font-weight: 400;

    margin: 0px;
    padding: 0px;
    font-size: 25px;
    vertical-align: middle;
}


.part32 .skillname {
    font-size: 25px;
    font-weight: 700;

}

.part33 .skillname {
    font-size: 25px;
    font-weight: 700;

}

.part3 .exp {
    text-align: center;
    font-size: 40px;
}

.part5 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.part5 p {
    margin: 0;
    padding: 0;
    font-size: 20px;
}

.part5 h1 {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 25px;


}

.btn button {

    background: rgb(255, 255, 255);
    border: 1px solid rgb(1, 81, 255);
    border-radius: 25px;
    outline: none;
    padding: 15px;
    width: 100px;
    margin-left: 5px;
    font-size: 15px;
    transition: 0.3s;

}

.btn a {
    text-decoration: none;
    font-weight: 600;
    color: rgb(0, 0, 0);
    font-family: Hammersmith One;

}

.btn {

    padding: 30px;
    border-radius: 40px;
    background: rgb(1, 81, 255);
    margin-top: 10px;
    cursor: pointer;

}

.btn button:hover {
    background: rgb(194, 194, 194);
}

.maili img {
    height: 50px;
    width: 50px;
    padding: 0px 6px 0px 6px;
}

.bottom {
    margin-top: 110px;
}

.footer {
    border: 1px solid black;
    height: 80px;
    background: black;
}

.techimg {
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 40px;
}

.techimg img {

    border: none;
    height: 165px;
    width: 165px;
    padding: 10px;
    margin-top: 60px;
    transition: 0.1s;
}

.techimg img:hover {
    border: 4px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.nav-link {
    text-decoration: none;
    color: black;
    transition: 1s;
}

.githubLin {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.githubLin img {
    height: 40px;
    width: 40px;
    margin-top: 20px;


}